<!-- Used by theme-bio-builtin-custom -->

{% if site.data.bio.interests %}
<div class="sixteen wide column no-bottom">
  <h3 class="ui left aligned header no-bottom">Skills</h3>
  <hr style="margin: 0px;">
</div>

<div class="sixteen wide column no-bottom">
  <p class="ui no-bottom">
    {% for entry in site.data.bio.skills %}
      <p class="ui no-bottom">
      <b>{{ entry.name }}:</b>
      {% for keyword in entry.keywords %}
        {{ keyword }}{% if forloop.last != true %}, {% endif %}
      {% endfor %}
  </p>
    {% endfor %}
</div>

{% endif %}
