/**
 ** CSS file for Destkop Navigation Menu
 ** @author Michael (Micky) Mangrobang
 **/

/** Hide when width <= 768px for mobile clients **/
@media screen and (max-width: 768px) {

    #desktop-menu {
        display: none;
    }
    .desktop-only {
        display: none;
    }
    #contact {
        height: calc(100vh - 40px);
    }

}

@media screen and (min-width: 769px) {

    #mobile-menu {
        display: none;
    }
    .mobile-only {
        display: none;
    }

    #contact {
        height: calc(100vh - 234px);
        min-height: 500px;
    }

}

#desktop-menu {
    height: 65px;
    transition: background-color 200ms linear;
    background-color: transparent;
}

#mobile-menu {
    background: midnightblue;
}

#mobile-menu div.title {
    padding: 10px;
    height: 55px;
}

#desktop-menu.scrolled {
    background-color: midnightblue !important;
    transition: background-color 200ms linear;
}

#desktop-menu .item, #mobile-menu .item {
    color: #F5F5F5 !important;
    text-shadow: 1px 1px 15px #1B1C1D;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
