/**
 ** Main CSS file
 ** @author Michael (Micky) Mangrobang
 **/

/** Global CSS code **/

body, h1, h2, h3, h4, h5, p {
    font-family: 'Ubuntu', sans-serif !important;
    color: white;
}

h1 {
    font-size: calc(3em + 0.5vw);
}

h2 {
    font-size: calc(2.5em + 0.5vw);
}

h3 {
    font-size: calc(2em + 0.5vw);
}

h4 {
    font-size: calc(1.5em + 0.5vw);
}

h5 {
    font-size: calc(1em + 0.5vw);
}

.ui.center.aligned.stackable.grid.container {
    height: 100%;
}

/** Landing CSS code **/

#home {
    height: 104vh;
}

#my-name h1.my-name-segment {
    margin: 5px;
}

#my-name h5.my-name-segment {
    margin: 5px;
}

/** Blinking caret code **/
@keyframes blink {
   50% {
        border-color: transparent;
    }
}

.wrap {
    animation: blink .5s step-end infinite alternate;
}

a i.white.circular.icon {
    color: white;
    border: 1px solid white;
}

div.my-name-segment.network-icons {
    margin-top: 10px;
}

a#homeToProjects.my-name-segment {
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 2.5vh;
}

a#homeToProjects.my-name-segment h5 {
    font-size: calc(1em + 0.1vw);
}

/** Projects CSS code **/

#projects {
    background-color: #4c4c4c;
}

.fullscreen {
    height: 94.5vh;
}
