<!-- Contact Segment -->
<div class="ui center aligned stackable grid full-cover">
    <div class="twelve wide middle aligned column">
        <h1 class="ui header whitesmoke-font shadow-font">Want to work together?</h1>
        <p id="contact-segment" class="whitesmoke-font shadow-font">Let us have a chat.</p>
        <p id="contact-button">
            <a class="ui large orange button" href="mailto:{{ site.data.bio.basics.email }}">CONTACT</a>
        </p>
        {% include network-links-custom.html size="big" resume="true" %}
    </div>
</div>
