<!-- Always create iframes to embed videos if present. See: http://semantic-ui.com/modules/embed.html -->
  
  <div class="ui grid container" style="position: absolute;">
    <h3 class="ui horizontal divider header">Michael (Micky) J. Mangrobang</h3>
    <p>Techfolio template Given by: <a href="http://philipmjohnson.org/" target="_blank">Philip Johnson</a></p>
    <p>Last edited by Michael (Micky) J. Mangrobang</p>
    <p>Last edited December 2016</p>
  </div>

<script>
  $('.ui.embed').embed();
</script>
