<!-- Always create iframes to embed videos if present. See: http://semantic-ui.com/modules/embed.html -->

<div style="background-color:silver; width 100%;">
    <div class="ui center aligned centered grid container">
        <div class="twelve wide center aligned column">
        <h4 class="header no-bottom">Michael (Micky) J. Mangrobang</h4>
        <p class="no-bottom">Techfolio template given by: <a href="http://philipmjohnson.org/" target="_blank">Philip Johnson</a></p>
        <p class="no-bottom">Template edited by Michael (Micky) J. Mangrobang</p>
        <p class="no-bottom">Last updated March 2018</p>
        </div>
    </div>
</div>

<script>
  $('.ui.embed').embed();
</script>
