<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <title>
        {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
    </title>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- Load Javascript and CSS for Semantic UI -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/semantic/dist/semantic.min.js"></script>

    <!-- Load Techfolio CSS customizations -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/stylesheet-default.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/stylesheet-customizations.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/navbarmobile.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">

    <!--My custom Fonts, CSS & JS-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/nightsky.css" />

    <script src="{{ site.baseurl }}/js/navbarmobile.js"></script>
    <script src="{{ site.baseurl }}/js/navbar.js"></script>
    <script src="{{ site.baseurl }}/js/name.js"></script>

</head>
