<!-- Custom Home page design -->
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<div class="fullscreen">
    {% include name.html %}
</div>

<div id="projects" class="fullscreen" style="background-color:snow;">
    {% include projects-custom.html %}
</div>

<div id="about" class="fullscreen" style="background-color:purple;">
    {% include bio-custom.html %}
</div>

<div id="contact" class="fullscreen" style="background-color:silver;">

    <div style="padding-top: 10%; height:100%; margin:0px;" class="ui middle aligned equal width centered stackable grid container">

        <div class="row" style="margin-bottom:0px;">
            <h2>Coming Soon!</h2>
        </div>
    </div>

</div>
