<!-- Custom Home page design -->

<section id="home">
    {% include name.html %}
</section>

<section id="projects">
    {% include projects-custom.html %}
</section>

<section id="about">
    <div class="section-cover">
        {% include bio-custom.html %}
    </div>
</section>

<section id="contact" style="height: 81vh; background-color:silver;">

    <div class="ui middle aligned equal width centered stackable grid container">

        <div class="row" style="margin-bottom:0px;">
            <h2>Coming Soon!</h2>
        </div>

    </div>

</section>
