<!-- Landing Segment; introduces my name -->
<div id="my-name" class="ui center aligned stackable grid container">
    <div class="twelve wide middle aligned column">
        <p class="my-name-segment whitesmoke-font shadow-font">Hi! My name is</p>
        <h1 class="my-name-segment whitesmoke-font shadow-font">{{ site.data.bio.basics.nickname }}</h1>
        <p class="my-name-segment whitesmoke-font shadow-font">I am a<span class="txt-rotate"></span></p>
        <div class="my-name-segment network-icons">{% include network-links-custom.html size="big" email="true" %}</div>
    </div>
    <a id="homeToProjects" class="my-name-segment" href="#projects"></a>
</div>
