<nav id="desktopMenu" class="ui fixed borderless menu">
    <a class="brand item" href="#home"><i class="big home icon"></i></a>
    <a class="right item" href="#projects">Projects</a>
    <a class="item" href="#about">About</a>
    <a class="item" href="#contact">Contact</a>
    <a href="{{ site.baseurl }}/downloads/MichaelMangrobangOnlineResume.pdf" target="_blank" class="item">Resume</a>
</nav>

<style>

    .ui.fixed.menu {
        border-color: transparent;
    }

    .ui.fixed.menu a:hover {
        color: orange;
    }

    .ui.fixed.menu .item {
        color: white;
    }

    .ui.fixed.menu.scrolled {
        background-color: midnightblue !important;
        transition: background-color 200ms linear;
    }
</style>
