<div id="mobileSidebar" class="ui sidebar inverted vertical menu">
    <a class="item" href="#home">Home</a>
    <a class="item" href="#projects">Projects</a>
    <a class="item" href="#about">About</a>
    <a class="item" href="#contact">Contact</a>
    <a href="{{ site.baseurl }}/downloads/MichaelMangrobangOnlineResume.pdf" target="_blank" class="item">Resume</a>
</div>
<div id="mobileMenu" class="ui fixed secondary menu">
    <a class="item">
        <i class="big sidebar icon" style="background-color: black; border-radius: 3px 7px;"></i>
    </a>
</div>

<style>

.ui.fixed.menu .item {
    color: white;
}

.ui.fixed.secondary.menu .item:active {
    color:orange;
}

</style>

<script>

$(document).ready(function () {

   $(this).scrollTop(0);
   $('.ui.sidebar').sidebar('attach events', '.sidebar.icon');

   $('.ui.sidebar.menu').find('a.item').click(function(){
       $('.ui.sidebar').sidebar('hide');
       var href = $(this).attr('href');
       //var $anchor = $('#'+$href).offset();
       if (href == '#home') {
           $('html, body').animate({ scrollTop: 0 }, 500);
       } else {
           var anchor = $(href).offset();
           $('html, body').animate({ scrollTop: anchor.top }, 500);
       }
       return false;
   });

});

</script>
