<!-- Icons for online profile links & email -->
{% for profile in site.data.bio.basics.profiles %}
<a href="{{ profile.url }}" target="_blank"><i class="{{ include.size }} white circular {{ profile.network | downcase }} {% if profile.network == 'GitHub' %}alternate {% elsif profile.network == 'LinkedIn' %}in {% endif %}icon icon-padding"></i></a>
{% endfor %}
{% if include.email == "true" %}
<a href="mailto:{{ site.data.bio.basics.email }}"><i class="{{ include.size }} white circular envelope icon icon-padding"></i></a>
{% elsif include.resume == "true" %}
<a href="{{ site.baseurl }}/{{ site.data.bio.basics.resume }}" target="_blank"><i class="{{ include.size }} white circular file alternate icon"></i></a>
{% endif %}
