<!-- Project Modal -->

<div id="{{ include.page.id }}Modal" class="ui modal">
  <div class="header">{{ include.page.title }}</div>
  <div class="content" style="color:black;font-color:black;">
    <div class="description" style="color:black;font-color:black;">
      <p style="color:black;font-color:black;">{{ include.page.summary }}</p>
    </div>
  </div>

    <div class="actions">
        <div class="ui cancel right labeled icon button">
            Close
            <i class="x icon"></i>
        </div>
    </div>
</div>
