<!-- Used by theme-projects-builtin-1a, entire card is the link. -->


<div class="card">
  {% if include.page.image %}
  <div class="blurring dimmable image">
    <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui blue inverted button">Read More</div>
              <div id="modalView" class="ui basic modal">
              <div class="header"><h2>Terms and Conditions</h2></div>
              <div class="content">{% if page.projecturl %}{{ page.projecturl }}{% else %}{{ site.baseurl}}{{ include.page.url }}{% endif %}</div>
              <div class="actions">
                <div class="ui button cancel"><i class="remove icon"></i>Close</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <img src="{{ site.baseurl }}/{{ include.page.image }}">
  </div>
  {% endif %}
  <div class="content">
    <span class="header">{{ include.page.title }}</span>
    <div class="meta">
      <span class="date">{{ include.page.date }}</span>
    </div>

    <div class="description">
      {{ include.page.summary }}
    </div>
  </div>

  <div class="extra content">
    <div class="ui mini labels">
      {% for label in include.page.labels %}
      <div class="ui basic label">{{ label }}</div>
      {% endfor %}
    </div>
  </div>

</div>

<script>
  $('#modalView')
        .modal({
          selector: {
          close: '.actions',
          approve  : '.actions .ok',
          deny: '.actions .cancel'
        },
          closable  : false,
          onDeny    : function(){
            return true;
          },
          onApprove : function() {
            return true;
          }
        })
        .modal('show')
    ;
</script>
