<!-- Projects Segment; layout to display my projects -->
<div class="ui center aligned stackable grid container" style="">
    <div class="row">
        <div class="twelve wide left aligned column">
            <h1 class="ui header">My Work
                <div id="view-projects-button" class="ui animated orange button" tabindex="0">
                  <div class="visible content">View All</div>
                  <div class="hidden content">WIP</div>
                </div>
            </h1>
            <p>
                Read about some of my projects.
            </p>
        </div>
    </div>
    <div class="twelve wide middle aligned column">
        <div class="ui three stackable cards">
        {% assign project_pages = site.pages | where: "type", "project" | sort: "date" | reverse %}
        {% for page in project_pages %}
        {% unless page.draft %}
            {% include project-card-custom.html page=page %}
            {% include project-modal.html page=page %}
        {% endunless %}
        {% endfor %}
        </div>
    </div>
</div>
