<!-- Custom Home page design -->
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<div style="padding-top:10%; height:100%; margin:0px;" class="ui middle aligned centered stackable grid container">

    {% include name.html %}

</div>

<div style="background-color:silver; height: 100%;">

    <div id="projects" style="padding-top: 10%; height:100%; margin:0px;" class="ui middle aligned equal width centered stackable grid container">

        <div class="row" style="margin-bottom:0px;">
            <h2>Coming Soon!</h2>
        </div>
    </div>

</div>

<div style="background-color:purple; height: 100%;">

    <div id="about" style="padding-top: 10%; height:100%; margin:0px;" class="ui middle aligned equal width centered stackable grid container">

      <div class="row" style="margin-bottom:0px;">
          <h2>Coming Soon!</h2>
      </div>
    </div>

</div>

<div style="background-color:silver; height: 100%;">

    <div id="contact" style="padding-top: 10%; height:100%; margin:0px;" class="ui middle aligned equal width centered stackable grid container">

        <div class="row" style="margin-bottom:0px;">
            <h2>Coming Soon!</h2>
        </div>
    </div>

</div>
